:root{
    --brand1: #415AF3;
    --brand2: #4150D2;
    --brand3: #D7E4FB;
    --brand4: #A0ADF9;
    --gray1: #212529;
    --gray2: #343A40;
    --gray3: #ADB5BD;
    --gray4: #E9ECEF;
    --gray5: #F1F3F5;
    --gray6: #F8F9FA;
    --gray7: #FFFFFF;
    --gray8: #F1F3F5
    --sucess: #56CF8E;
    --error1: #E64445;
    --error2: #F03839;
    --font: Inter;
    --titleSize1: 40px;
    --titleSize2: 28px;
    --titleSize3: 24px;
    --titleSize4: 20px;
    --titleSize5: 16px;
    --textSize1: 18px;
    --textSize2: 16px;
    --textSize3: 14px;
    --weigth1: 600;
    --weigth2: 500;
    --weigth3: 400;
}
header{
    height: 20%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    width: 100%;
    height: 100%;
}
.usuario{
    width: 100%;
    height: 10%;
}
.usuario__header1{
    padding:20px;
    display: flex;
    height:58px;
    width: 100%;
    background-color: var(--gray6);
    justify-content: space-between;
    align-items: center;
}
.usuario__header1__logo{
    width: 131px;
}
.usuario__header1__userAvatar1--box{    
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuario__header1__userAvatar1{

    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--brand1);
    z-index: 1;
}

.dropdown{
    position: relative;
    display: inline;
    padding: 0 30px 0 0;
}

.dropbtn {
    background-color: #4CAF50;
    border-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px var(--gray1);
    z-index: 1;
    border-radius: 5px;
  }

.dropdown-content button {
    border-color: transparent;
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  
  .dropdown-content button:hover {background-color: var(--brand1)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


.usuario__header2{
    display: flex;
    padding:20px;
    width: 100%;
    height: 5rem;
    background-color: var(--brand1);
    justify-content: space-between;
    align-items: center;
}
.usuario__header2__userAvatar2--box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usuario__header2__userAvatar2{
    height: 60px;
    width: 60px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--brand3);
}
.usuario__header2__descricao{
    padding:20px;
    width: 100%;
}
.usuario__header2__nomeUsuario{
    font-family: var(--font);
    font-size: var(--titleSize2);
    color: var(--gray5);
}
.usuario__header2__cargo{
    font-family: var(--font);
    font-size: var(--textSize3);
    color: var(--gray5);
}
main{
    height: 80%;
    flex-grow: 1;
}
.containerNav{
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .containerNav__boxButoons{
        margin-top: 2rem;
        width: 80%;
        display: flex;
        flex-direction: row;
    }
        .__boxButtons{
            width: 50%;
            padding-left: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
            .__boxButtons--Titulo{
                font-family: var(--font);
                font-size: var(--textSize3);
                font-weight: var(--weigth1);
            }
        .__boxButtons__botoes--div{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
            .__boxButtons--Titulo--modelo1{
                font-family: var(--font);
                padding: 8px 0 0 0;
                font-size: var(--textSize3);
                color: var(--gray1);
                font-weight: var(--weigth3);
                width: 5rem;
                height: 32px;
            }
            .__boxButtons--Titulo--modelo2{
                width: 5rem;
                height: 32px;
                border: var(--brand1);
                border-radius: 5px;
                background-color: var(--brand1);
                color: var(--gray5);
                font-weight: var(--weigth3);
        }

.containerNav__tabela{
    height: 23rem;
    width: 80%;
    background-color: transparent;
    font-family: var(--font);
    color: var(--gray3);
    margin: 20px 0 0 0;
    display: flex;
}
tbody{
    height: 22rem;
    width: 100%;
}
    .__tabela__cabecalho__box{
        background-color: red;
    }
        .__tabela__cabecalho__linha{
            width: inherit;
            height: 2rem;
        }
            .__tabela__cabecalho--status{
                padding-right: 1rem;
                width: fit-content;
                font-weight: var(--weigth3);
            }
            .__tabela__cabecalho--titulo2{
                width: fit-content;
                font-weight: var(--weigth3);
            }
            .__tabela__cabecalho--descrição{
                max-width: 30%;
            }

            .__tabela__cabecalho--categoria{    
                padding-right: 1rem;
                width: fit-content;
                overflow: hidden;
            }
            .__tabela__cabecalho--editar{
                justify-content: center;
                align-content: center;
                width: fit-content;
                font-weight: var(--weigth3);
            }
    .containerNav__tarefa__linha{
        width: fit-content;
        border: var(--gray5) 5px;
    }
        .tarefa__cumprido--checkbox{
            width: fit-content;
        }
        .tarefa__titulo{
            padding-right: 1rem;
            width: fit-content;
        }
            /* .tarefa__titulo--texto{

            } */
        .tarefa__descricao{
            padding-right: 1rem;
            width: 40%;
            white-space: nowrap;
        }
            .tarefa__titulo--texto{
                width: fit-content;
                white-space: nowrap;
            }

        .tarefa__categoria{
            width: fit-content;
        }
            /* .tarefa__categoria--texto{
            } */
        .tarefa__opcoes{
            width: fit-content;
        }
            .tarefa__opcoes--botao{
                background-color: transparent;
                border: none;
                font-size: var(--titleSize2);
                color: var(--gray3);
            }
footer{
    height: 3rem;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    align-items: flex-end;
}
#modal__criarHabito{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
    .modal > .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
        .modal__inner{
            position: relative;
            background-color: var(--gray7);
            width: 25rem;
            height: 30rem;
            margin-top: 8rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 1rem;
            gap: 40px;
        }
            .modal__close{
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: transparent;
                color: var(--gray3);
                font-size: var(--titleSize3);
                border:none;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }
            .modal__close:hover{  
                background-size: contain;
                background-color: var(--error1);
                color: var(--gray7);
                border-radius: 50%;
                border-style: none;
            }
            #criarHabito{
                height: 3rem;
                width: 100%;
                font-weight: 600;
                display: flex;
                justify-content: flex-start;

            }
                .modal__form{
                    height: 100%;
                    width: 100%;
                    padding: 1rem 2rem 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 15px;
                    font-size: var(--titleSize3);
                    color:var(--gray2);
                }
                    .Categoria{
                        font-size: 1rem;
                    }
                    .input{
                        height: 3rem;
                        width: 100%;
                        padding: 5px;
                        background-color: var(--gray6);
                        border: none;
                    }
            .btnOptionsModal{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between  ;
            }
            #inputTitulo{
                width: 100%;
                background-color: var(--gray6);
                padding: 10px;
                outline: none;
                border: none;
                font-size: 1rem;
            }
            #inputDescrição{       
                height: 5rem;         
                width: 100%;
                background-color: var(--gray6);
                padding: 10px;
                font-size: 1rem;
                border-style: none;
                resize: none;
                outline: none;
                text-align: left;
                word-break: break-all;      
                word-break: break-all;      
            }
                #inputDescrição::-webkit-scrollbar {
                    scrollbar-width: none;
                }
                #inputDescrição:hover{       
                    border: var(blue);         
                }
                .button__excluir{
                    height: 3rem;
                    width: 48%;
                    border-radius: 5px;
                    border: transparent;
                    padding: 10px;
                    background-color: var(--gray5);
                    color: var(--gray1);
                    font-weight: 700;
                    text-transform: uppercase;
                }
                    .button__excluir:hover{
                        color: var(--gray5);
                        background-color: var(--error1);
                
                    }    
                .button__Salvar{
                    height: 3rem;
                    width: 48%;
                    border-radius: 5px;
                    border: 1px solid blue;
                    padding: 10px;
                    background-color: var(--brand2);
                    color: var(--gray5);
                    font-weight: 700;
                    text-transform: uppercase;
                }
                    .button__Salvar:hover{
                        color: white;
                        background-color: var(--brand1); 
                        border: 1px solid cyan;
                    }   
#modal__editarHabito{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
    .modal > .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
    }
        .modal__inner{
            position: relative;
            background-color: var(--gray7);
            width: 25rem;
            height: 30rem;
            margin-top: 8rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 1rem;
            gap: 40px;
        }
            .modal__close{
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: transparent;
                color: var(--gray3);
                font-size: var(--titleSize3);
                border:none;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }
            .modal__close:hover{  
                background-size: contain;
                background-color: var(--error1);
                color: var(--gray7);
                border-radius: 50%;
                border-style: none;
            }
            #criarHabito{
                height: 3rem;
                width: 100%;
                font-weight: 600;
                display: flex;
                justify-content: flex-start;


            }
                .modal__form{
                    height: 100%;
                    width: 100%;
                    padding: 1rem 2rem 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 15px;
                    font-size: var(--titleSize3);
                    color:var(--gray2);
                }
                    .Categoria{
                        font-size: 1rem;
                    }
                    .input{
                        height: 3rem;
                        width: 100%;
                        padding: 5px;
                        background-color: var(--gray6);
                        border: none;
                    }
            .btnOptionsModal{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between  ;
            }
            #inputTitulo{
                width: 100%;
                background-color: var(--gray6);
                padding: 10px;
                outline: none;
                border: none;
                font-size: 1rem;
            }
            #inputDescrição{       
                height: 5rem;         
                width: 100%;
                background-color: var(--gray6);
                padding: 10px;
                font-size: 1rem;
                border-style: none;
                resize: none;
                outline: none;
                text-align: left;
                word-break: break-all;      
            }
                #inputDescrição::-webkit-scrollbar {
                    scrollbar-width: none;
                }
                #inputDescrição:hover{       
                    border: var(blue);         
                }
            .button__excluir{
                height: 3rem;
                width: 48%;
                border-radius: 5px;
                border: transparent;
                padding: 10px;
                background-color: var(--gray5);
                color: var(--gray1);
                font-weight: 700;
                text-transform: uppercase;
            }
                .button__excluir:hover{
                    color: var(--gray5);
                    background-color: var(--error1);
            
                }    
            .button__Salvar{
                height: 3rem;
                width: 48%;
                border-radius: 5px;
                border: 1px solid blue;
                padding: 10px;
                background-color: var(--brand2);
                color: var(--gray5);
                font-weight: 700;
                text-transform: uppercase;
            }
                .button__Salvar:hover{
                    color: white;
                    background-color: var(--brand1); 
                    border: 1px solid cyan;
                }   
        .statusCheck{
            width: 98%;
            display: flex;
            font-weight: 550;
            font-size: 1rem;
            justify-content: space-between;
        }
#modal__editarPerfil{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}   
    .container__edtiarPerfil{
        margin-top: 50px;
        font-style: var(--font);
        font-size: var(--titleSize2);
        color: var(--gray2);
        
    }
        .__edtiarPerfil--box{
            height: 22rem;
            width: 25rem;
            padding: 1rem 1rem 1rem 1rem;
            background-color: var(--gray7);
            border-radius: 3%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
            .__edtiarPerfil--box--box{
                height: 10%;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
                .__edtiarPerfil--box--btn{
                    height: 100%;;
                    width: 10%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    .__edtiarPerfil--btnFechar{
                        width: max-content;
                        right: 0;
                        background-color: transparent;
                        border-style: none;
                    }
                        .__edtiarPerfil--btnFechar:hover{
                            height: 1.5rem;
                            width: 1.5rem;
                            right: 0;
                            background-color: var(--error1);
                            color: var(--gray7);
                            border-radius: 50%;
                            border-style: none;
                        }
                .__edtiarPerfil__head{
                    height: 100%;;
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                    .__edtiarPerfil__titulo{
                        display: flex;
                        justify-content: flex-start;
                        align-content: center;
                        font-weight: 600;
                        color: var(--gray2);
                    } 
            .__edtiarPerfil__formulario--box{
                height: 90%;
                background-color: var(--gray7);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2rem;
            }
                .__formulario__box--nome{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-size: var(--titleSize4)
                    
                }
                    .__edtiarPerfil__formulario--nome{
                        height: 2rem;
                        width: 100%;
                        padding: 5px;
                        font-size: var(--titleSize5);
                        background-color: var(--gray6);
                    }
                .__formulario__box--url{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    font-size: var(--titleSize4)
                   
                }
                    .__edtiarPerfil__formulario--imagem{
                        height: 2rem;
                        width: 100%;
                        padding: 5px;
                        font-size: var(--titleSize5);
                        background-color: var(--gray6);
                    }

                .__formulario__box__botão{
                    height: 2rem;
                    width: 100%;
                    border-style: none;
                    align-self: center;
                    background-color: var(--brand4);
                }
                    .__formulario__box__botão:hover{
                        background-color: var(--brand2);
                        color: var(--gray7);
                    }
    
/* #modal__editarPerfil{
/*  modal__editarHabito{
    display: none;
}
#modal__excluirHabito{
    display: none;
} */

@media (max-width: 1050px){
    .__tabela__cabecalho--descrição{
        display: none;
    }
    .__tabela__cabecalho--categoria{
        display: none;
    }
        .tarefa__categoria{
            display: none;
        }
}
@media (max-width: 800px){
    .__boxButtons{
        width: 30%;
    }
    .__boxButtons__botoes--div{
        width: 70%;
    }
    
    .__tabela__cabecalho--titulo{
        padding-left: 3rem;
    }
    .tarefa__titulo{
        padding-left: 3rem;
    }


    .__tabela__cabecalho__linha{
        justify-content: center;
    }
        .__tabela__cabecalho--descrição{
            display: none;
        }
        .__tabela__cabecalho--categoria{
            display: none;
        }
            .tarefa__descricao{ 
                display: none;
            }
            .tarefa__categoria{
                display: none;
            }
}
@media (max-width: 500px){
    .containerNav{
        gap: 0;
    }
        .containerNav__boxButoons{
            width: 80%;
            flex-direction: column; 
            gap: 1.5rem;
        }
            .__boxButtons{
                padding-left: 0; 
            }
            .__boxButtons__botoes--div{
                padding: 0;
                width: auto;
                align-content: center;
                justify-content: space-between;
            }
    /* div Tarefas */
    .__tabela__cabecalho--titulo{
        padding-left: 0;
    }
    .tarefa__titulo{
        padding-left: 0;
    } 

    /* Modal Criar hábito */
    #modalCriarhabito{
        height: 250px;
        width: 250px;
        position: fixed;
        top: 250px;
        bottom: 50%;
        right: 10%;
        z-index: 99999;
        background: rgba(0,0,0, 0.5);
        align-items: center;
        justify-content: center;    
    }
}

