:root{
    --brand1: #415AF3;
    --brand2: #4150D2;
    --brand3: #D7E4FB;
    --gray1: #212529;
    --gray2: #343A40;
    --gray3: #ADB5BD;
    --gray4: #E9ECEF;
    --gray5: #F1F3F5;
    --gray6: #F8F9FA;
    --sucess: #56CF8E;
    --error1: #E64445;
    --error2: #F03839;
    --font: Inter;
    --titleSize1: 40px;
    --titleSize2: 28px;
    --titleSize3: 24px;
    --titleSize4: 20px;
    --titleSize5: 16px;
    --textSize1: 18px;
    --textSize2: 16px;
    --textSize3: 14px;
    --weigth1: 600;
    --weigth2: 500;
    --weigth3: 400;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    width: 100%;
}

main{
    flex-grow: 1;
}

.usuario{
    width: 100%;
    height: 10%;
}

.usuario__header1{
    padding:20px;
    display: flex;
    height:58px;
    width: 100%;
    background-color: var(--gray6);
    justify-content: space-between;
    align-items: center;   
    
}

.usuario__header1__logo{
    width: 131px;

}

.usuario__header1__userAvatar1--box{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.usuario__header1__userAvatar1{
    height: 40px;
    width: 40px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--brand1);
}

.usuario__header2{
    display: flex;
    padding:20px;
    width: 100%;
    height: 5rem;
    background-color: var(--brand1);
    justify-content: space-between;
    align-items: center;
}

.usuario__header2__userAvatar2--box{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.usuario__header2__userAvatar2{
    height: 60px;
    width: 60px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--brand3);
}

.usuario__header2__descricao{
    padding:20px;
    width: 100%;
}
.usuario__header2__nomeUsuario{
    font-family: var(--font);
    font-size: var(--titleSize2);
    color: var(--gray5);
}
.usuario__header2__cargo{
    font-family: var(--font);
    font-size: var(--textSize3);
    color: var(--gray5);
}

.tabela__Titulo{
    font-family: var(--font);
    font-size: var(--textSize3);
    font-weight: var(--weigth1);
    padding: 0 0 20px 0;
}

.tabela__botoes--div{
    display: flex;
    justify-content: space-evenly;
}

.tabela__botoes{
    /* float: right; */
    width: 100%;
    flex-direction: row;
    align-items: center;

}

.tabela__botoes--modelo1{
    font-family: var(--font);
    padding: 8px 0 0 0;
    font-size: var(--textSize3);
    color: var(--gray1);
    font-weight: var(--weigth3);
    width: 80px;
    height: 32px;
}

.tabela__botoes--modelo2{
    width: 90px;
    height: 32px;
    border: var(--brand1);
    border-radius: 5px;
    background-color: var(--brand1);
    color: var(--gray6);
    font-weight: var(--weigth3);
}

.tabela__cabecalho{
    width: 100%;
    font-family: var(--font);
    color: var(--gray3);
    margin: 20px 0 0 0;
}

.tabela__cabecalho__normal1{
    font-weight: var(--weigth3);
}

.tabela__cabecalho__normal2{
    font-weight: var(--weigth3);
}

.tabela__cabecalho__mobileOculatar1{
    display: none;
}

.tabela__cabecalho__mobileOculatar2{
    display: none;
}


.tabela__cabecalho__coladoAoCanto{
    font-weight: var(--weigth3);
}

.tarefa{
    width: 100%;
}

.tarefa__descricao{
    display: none;
}

.tarefa__categoria{
    display: none;
}

.modais{
    display: flex;
    flex-direction: column;
    width: 100;
}