<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPSTONE M2</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style/dashboard.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>


<body>
     <header>
        <div class="usuario">
            <div class="usuario__header1">
                <figure>
                    <img class="usuario__header1__logo" src="../assets/img/KenzieHabitLogo2.png"
                        alt="Kenzie habit logoTodos">
                </figure>
                <div class="dropdown">
                    <figure class="usuario__header1__userAvatar1--box">
                        <img class="usuario__header1__userAvatar1" src="/src/assets/img/user.png" alt="imagem do usuário">
                    </figure>
                    <div class="dropdown-content">
                        <button class="button__editarPerfil">Editar Pefil</button>
                        <button class="button__logout">Sair da conta</button>
                    </div>
                </div>
            </div>
            <div class="usuario__header2">
                <figure class="usuario__header2__userAvatar2--box">
                    <img class="usuario__header2__userAvatar2" src="/src/assets/img/user.png" alt="imagem do usuário">
                </figure>
                <div class="usuario__header2__descricao">
                    <h2 class="usuario__header2__nomeUsuario">Fulano da Silva</h2>
                    <span class="usuario__header2__cargo">Kenzinho(a)</span>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="containerNav">
            <div class="containerNav__boxButoons">
                <div class="__boxButtons">
                    <h2 class="__boxButtons--Titulo">
                        Tarefas
                    </h2>
                </div>
                <div class="__boxButtons__botoes--div">
                    <div class="__boxButtons--Titulo--modelo1">
                        <a>
                            Todos
                        </a>
                    </div>
                    <div class="__boxButtons--Titulo--modelo1">
                        <a>
                            Concluído
                        </a>
                    </div>
                    <button class="__boxButtons--Titulo--modelo2">
                        Criar
                    </button>
                </div>
            </div>
            <table class="containerNav__tabela">
                <tr class="__tabela__cabecalho__linha">
                    <td class="__tabela__cabecalho--status">Status</td>
                    <td class="__tabela__cabecalho--titulo">Título</td>
                    <td class="__tabela__cabecalho--descrição">Descrição</td>
                    <td class="__tabela__cabecalho--categoria">Categoria</td>
                    <td class="__tabela__cabecalho--editar">Editar</td>
                </tr>
        <!-- inserir tarefas com DOM aqui <tr> para linha <td> para colunas -->
        <!-- EXEMPLO: -->
        <tr class="containerNav__tarefa__linha" id="">
            <td class="tarefa__cumprido--checkbox">
                <input type="checkbox" class="tarefa__cumprido--check" />
            </td>
            <td class="tarefa__titulo">
                <p class="tarefa__titulo--texto">
                    Titulo de tarefa pra fazer
                </p>
            </td>
            <td class="tarefa__descricao">
                <p class="tarefa__descricao--texto">
                    Descrição da tarefa que a pessoa tem que desenvolver
                </p>
            </td>
            <td class="tarefa__categoria">
                <span class="tarefa__categoria--texto">
                    Trabalho
                </span>
            </td>
            <td class="tarefa__opcoes">
                <button class="tarefa__opcoes--botao">...</button>
            </td>
        </tr>
        <tr class="containerNav__tarefa__linha" id="">
            <td class="tarefa__cumprido--checkbox">
                <input type="checkbox" class="tarefa__cumprido--check" />
            </td>
            <td class="tarefa__titulo">
                <p class="tarefa__titulo--texto">
                    Titulo de tarefa pra fazer
                </p>
            </td>
            <td class="tarefa__descricao">
                <p class="tarefa__descricao--texto">
                    Descrição da tarefa que a pessoa tem que desenvolver
                </p>
            </td>
            <td class="tarefa__categoria">
                <span class="tarefa__categoria--texto">
                    Trabalho
                </span>
            </td>
            <td class="tarefa__opcoes">
                <button class="tarefa__opcoes--botao">...</button>
            </td>
        </tr>
        <tr class="containerNav__tarefa__linha" id="">
            <td class="tarefa__cumprido--checkbox">
                <input type="checkbox" class="tarefa__cumprido--check" />
            </td>
            <td class="tarefa__titulo">
                <p class="tarefa__titulo--texto">
                    Titulo de tarefa pra fazer
                </p>
            </td>
            <td class="tarefa__descricao">
                <p class="tarefa__descricao--texto">
                    Descrição da tarefa que a pessoa tem que desenvolver
                </p>
            </td>
            <td class="tarefa__categoria">
                <span class="tarefa__categoria--texto">
                    Trabalho
                </span>
            </td>
            <td class="tarefa__opcoes">
                <button class="tarefa__opcoes--botao">...</button>
            </td>
        </tr>
        <!-- // -->
        </table>
        </div>
    </main>
    <footer>
        <Button>
            Ver mais
        </Button>
    </footer> -->
  
    <!-- ********* MODAIS *********-->
    <div class="modal" id="modal__criarHabito">

        <div class="container">
            <div class="modal__inner">
                <form class="modal__form" id="modal__form__CriarHabito">
                    <button class="modal__close">X</button>
                    <h2 id="criarHabito">Criar hábito</h2>
                    <label for="habit_title" class="Categoria">Título</label>
                    <input id="inputTitulo" type="text" name="habit_title" placeholder="Insira um Título">

                    <label for="habit_description" class="Categoria">Descrição</label>
                    <textarea id="inputDescrição" type="text" name="habit_description"
                        placeholder="Insira uma descrição"></textarea>

                    <label for="habit_category" class="Categoria">Categoria</label>
                    <select class="input" name="habit_category">
                        <option>lazer</option>
                        <option>Saude</option>
                        <option>estudos</option>
                        <option>casa</option>
                        <option>trabalho</option>
                    </select>
                    <div class="btnOptionsModal">
                        <button class="button__excluir" type="submit">Excluir</button>
                        <button class="button__Salvar" id="submit__inserirHabito" type="submit">Salvar
                            Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <div class="modal" id="modal__editarHabito">
        <div class="container">
            <div class="modal__inner">
                <form class="modal__form" id="modal__form__CriarHabito">
                    <button class="modal__close">X</button>
                    <h2 id="criarHabito">Editar hábito</h2>
                    <label for="habit_title" class="Categoria">Título</label>
                    <input id="inputTitulo" type="text" name="habit_title" placeholder="Insira um Título">

                    <label for="habit_description" class="Categoria">Descrição</label>
                    <textarea id="inputDescrição" type="text" name="habit_description"
                        placeholder="Insira uma descrição"></textarea>

                    <label for="habit_category" class="Categoria">Categoria</label>
                    <select class="input" name="habit_category">
                        <option>lazer</option>
                        <option>Saude</option>
                        <option>estudos</option>
                        <option>casa</option>
                        <option>trabalho</option>
                    </select>
                    <div class="statusCheck">
                        <h2>Status</h2>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="btnOptionsModal">
                        <button class="button__excluir" type="submit">Excluir</button>
                        <button class="button__Salvar" id="submit__inserirHabito" type="submit">Salvar
                            Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <!-- modal EDITAR HABITO-->
    <!-- modal Editar perfil-->
    <div class="modal" id="modal__editarPerfil">
        <div class="container__editarPerfil">
            <div class="__edtiarPerfil--box">
                <div class="__edtiarPerfil--box--box">
                    <div class="__edtiarPerfil--box--btn">
                        <button class="__edtiarPerfil--btnFechar">X</button>
                    </div>
                    <div class="__edtiarPerfil__head">
                        <h2 class="__edtiarPerfil__titulo">Editar perfil</h2>
                    </div>
                </div>
                <form class="__edtiarPerfil__formulario--box" id="modal__form__editarPerfil">
                    <div class="__formulario__box--nome">
                        <label for="usr_name">Nome</label>
                        <input class="__edtiarPerfil__formulario--nome" type="text" name="usr_name" placeholder="Digite seu nome"> 
                    </div>
                    <div class="__formulario__box--url">
                        <label for="usr_image">Url da imagem do perfil</label>
                        <input class="__edtiarPerfil__formulario--imagem" type="url" name="usr_image" placeholder="https://imagem.com.br">    
                    </div>
                    <button class="__formulario__box__botão" id="submit__edicaoPerfil" type="submit">Salvar alterações</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- modal Excluir Habito -->

    <!-- <div class="modal" id="modal__excluirHabito">
        <div class="container">
            <div class="modal__inner">
                <button class="modal__close">X</button>
                <h2>Excluir habito</h2>
                <h2>Tem certeza que deseja excluir este hábito?</h2>
                <p>Após a exclusão não é possível desfazer.</p>
                <button class="button__modal" id="submit__cacelarDelete" type="submit">Cancelar</button>
                <button class="button__modal" id="submit__deletarTarefa" type="submit">Sim, excluir tarefa</button>

            </div>
    
        </div>-->

    <script type="module" src="../scripts/dashboard.script.js"></script>

</body> 

</html>