<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPSTONE M2</title>
    <link rel="stylesheet" type="text/html" href="/src/css/style/dashboard.css">
    <link rel="stylesheet" type="text/html" href="/src/css/reset.css">
    <link rel="stylesheet" type="text/html" href="/src/css/style/index.css">
</head>
<body>

    <header class="conteiner">
    
        <div class="titulo">
            <h1 class="textoKenzie">KenzieHabit</h1>
          <img src="/src/assets/img/user.png" alt="">
        </div>

        <div class="titulo2">
            <img src="/src/assets/img/user.png" alt="">
            <h2 class="nomeUsuario">Júlia Silva Camargo</h2>
        </div>
    
    </header>

    <script src="/src/scripts/dashboard.script.js"></script>
</body>
</html>